
#container2 a:link, a:visited{
 text-decoration: none;
color:lightgray;
}
.filmheader{
  text-align:center;
  margin-bottom:30%;
}
#container2>span,#container2 a:link 
{

  display:inline-block;
width:185px;
margin-bottom:16px;
cursor:pointer;
}

#container2 img{
width:160px; 
height:230px; 
  border-radius: 10px;
}