@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

body{
  text-align: center;
  min-height: 100%;
  margin-bottom: 50px;
  color: lightgray;
  background: url(/images/Starsky.jpg);
  background-size: 100%;
  animation: animation 600s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}

main{
  display: block;
  border-radius: 10px;
  width: 40%;
  padding: 30px 30px 0 30px;
  margin: 1% auto 0 auto;
  min-height: 790px;
  text-align: center;
  font-family: 'Changa', sans-serif;
} 

h1 a{
  color: lightgrey;
  text-align: center;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 10px;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  box-shadow: 3px 3px 4px 3px rgba(206, 202, 202, 0.3);
}

header{
  color: lightgray;
  padding: 10px 0px;
  font-family: 'Alfa Slab One', cursive;
  box-shadow: 5px 5px 7px 2px rgba(206, 202, 202, 0.3);
}

footer a{
  color: rgb(199, 195, 195);
  text-align: center;
  font-family: 'Changa', sans-serif;
  text-decoration: none;
}

.navigation{
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
}

li a{
  
  text-decoration: none;
  color: lightgray; 
  font-family: 'Changa', sans-serif;
  font-size: medium;
}

header li a:hover {
  color: rgb(77, 77, 77);
} 
header li a.active {
  color: rgb(66, 66, 66)
} 
html, body{
  height: auto;
  margin: 0;
  padding: 0;
}
#leftPics{
  display: inline-block;
  float: left;
  max-width: 180px;
  height: 800px;
  padding: 20px 0 0 15px;
}
#leftPics img, #rightPics img {
  margin: 0 0 5px 0;
  width: 100%;
  max-height: 33%;
  border: 2px solid #929292;
  border-radius: 10px;
}
#rightPics  {
  display: inline-block;
  float: right;
  max-width: 180px;
  min-height: 800px;
  padding: 20px 15px 0 0;
}
footer {
  color: lightgray;
  padding: 10px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  }

.container  {
  width: 80%;
  font-size: 0.8em;
}
header, footer{
  font-size: 0.75em;
}

.forgotPasswordDiv{
  display: block;
}
.forgotPasswordDiv h2{
  text-decoration: underline;
}
.forgotPasswordDiv label{
  padding-right: 15px;
  
}
.forgotPasswordDiv input{
  background-color: rgba(145, 141, 141, 0.2);
  padding: 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
}
.forgotPasswordDiv p{
  color: green;
}
.forgotPasswordDiv button{
  background-color: rgba(218, 208, 208, 0.2);
  padding: 5px;
  border-radius: 5px;
  border-color: black;
  color: white;
  width: 93%;
}
#scheme{
  margin-bottom: 6px;
  padding: 6px 6px 1px 6px;
  background-color: #000;
  border-radius: 15px;
  font-family: 'Changa', sans-serif;
}
#scheme ul{
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}
#scheme ul li{
  margin: 4px 0;
  text-align: left;
  line-height: 14px;
  font-size: 14px;
}
#scheme ul li:first-child{
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
  text-align: center;
}



