@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

body{
  text-align: center;
  min-height: 100%;
  margin-bottom: 50px;
  color: lightgray;
  background: url(/images/Starsky.jpg);
  background-size: 100%;
  animation: animation 600s linear infinite;
}
@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
main{
  display: block;
  border-radius: 10px;
  width: 40%;
  padding: 30px;
  margin: 1% auto 0 auto;
  min-height: 35em;
  text-align: center;
  font-family: 'Changa', sans-serif;
} 
h1 a{
  color: lightgrey;
  text-align: center;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 10px;
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  box-shadow: 3px 3px 4px 3px rgba(206, 202, 202, 0.3);
}
header{
  color: lightgray;
  padding: 10px 0px;
  font-family: 'Alfa Slab One', cursive;
  box-shadow: 5px 5px 7px 2px rgba(206, 202, 202, 0.3);
}
footer a{
  color: rgb(199, 195, 195);
  text-align: center;
  font-family: 'Changa', sans-serif;
  text-decoration: none;
}
.navigation{
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
}
li a{
  padding: 3px 5px;
  text-decoration: none;
  color: lightgray;
  font-family: 'Changa', sans-serif;
  font-size: 20px;
}
header li a:hover {
  color: rgb(77, 77, 77);
}
header li a.active {
  color: rgb(66, 66, 66)
}
html, body{
  height: auto;
  margin: 0;
  padding: 0;
}
#leftPics{
  display: inline-block;
  float: left;
  max-width: 180px;
  height: 800px;
  padding: 20px 0 0 15px;
}
#leftPics img, #rightPics img {
  margin: 0 0 5px 0;
  width: 100%;
  max-height: 33%;
  border: 2px solid #929292;
  border-radius: 10px;
}
#rightPics  {
  display: inline-block;
  float: right;
  max-width: 180px;
  height: 800px;
  padding: 20px 15px 0 0;
}
footer {
  color: lightgray;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
@media(max-width: 768px){
  #leftPics img, #rightPics img {
    display: none;
  }
  .container  {
    width: 80%;
    font-size: 0.8em;
  }
  header, footer{
    font-size: 0.75em;
  }
}






