iframe{
  margin-left: -23%;
  margin-bottom:2%;
width: 150%;
      box-shadow: -1px -1px 11px 8px rgb(0 0 0 / 50%);
}

div a:link{
  text-decoration:none;
}

#topItems, #sidetext{
 
margin-top:20%;
margin-left:2%;
}
#sidetext{
 
  width:100%;

}

 #picSize{
   border-radius: 10px;
  width:160px;
height:240px;
 border-radius: 10px;
}
#imdb{
  
width:60px;
height:40px;
border-radius: 10px;
}
#imdbRate{

display:inline-flex;
flex-wrap:wrap;
gap:20px;
padding-top:10%;
margin-left:12%;
}


#bottomPics img{
  width:300px;
height:170px;
 border-radius: 20px;
 border:4px solid black;
 margin-top:30%;

}

#bottomPics{
display:flex;

  justify-content:space-evenly;
  vertical-align: baseline;
}

span.ticketButton{
align-content:centre;
  
}
.ticketButton{
 
cursor: pointer;
  border: none;
  color: black;
   background: linear-gradient(to right, rgb(202, 197, 197) 50%, white 50%);
   
   font-size: 16px;
      padding: 5px 10px;/* standard 10px,20px*/

      transition: color 3s ease;
      transition: box-shadow 0.2s ease-in-out;
      border-radius: 5px;
      margin: 5px;
      background-size: 200% 100%;
 text-align:center;

 -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}