@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

h1{
  text-align: center;
}
header{
  color: rgb(77, 74, 74);
  background-color: rgb(197, 198, 199);
  padding: 10px 20px;
  font-family: 'Alfa Slab One', cursive;
  border-bottom: 0.5px solid black;  
}

.dropdown {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  display: block;
}
.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: rgb(119, 116, 116);
}
footer a{
  color: rgb(77, 74, 74);
  text-align: center;
}

.navigation{
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li a{
  color: rgb(77, 74, 74);
}

header nav a:hover {
  color: rgb(233, 13, 13);
}

header nav a.active {
  color: rgb(247, 15, 15);
}

.container  {
  display: block;
  border-radius: 10px;
  background-color: rgb(197, 198, 199);
  width: 30%;
  padding: 30px;
  margin: 1% auto 0 auto;
  min-height: 35em;
  text-align: center;
  border: 1.3px solid  rgb(134, 121, 121);
}


html, body{
  height: auto;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(197, 198, 199);
  text-align: center;
  min-height: 100%;
}

#colPics{
  display: inline-block;
  float: left;
  max-width: 180px;
  height: 800px;
}

#film1, #film2, #film3 {
  margin: 10px 0 0 15px;
  width: 100%;

  max-height: 33%;
  border: 2px solid #929292;
  border-radius: 10px;
}

footer {
  color: rgb(77, 74, 74);
  background-color: rgb(197, 198, 199);
  padding: 10px 20px;
  font-family: 'Alfa Slab One', cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media(max-width: 768px){
  #colPics img {
    display: none;
  }

  .container  {
    width: 80%;
  }

  header, footer{
    font-size: 0.75em;
  }
   
}

.navigation{
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
li a{
  color: rgb(77, 74, 74);
}

header nav a:hover {
  color: rgb(233, 13, 13);
}

header nav a.active {
  color: rgb(247, 15, 15);
}
